.main-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  background-color: white;
}

.flex-container > a {
  background-color: gray;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 1;
}